.add input,
textarea,
select {
  border: 1px solid #a9a9a9;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.add {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.add-category-price,
.add-category-price > div {
  display: flex;
  gap: 20px;
  width: 100%;
}
.add button {
  background-color: tomato;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.add-img-upload img {
  width: 150px;
}
